// overwrite theme variables

// good-looking theme
$primary: #f5eff7;
$secondary: #e1dbf5;
$dark: #386086;
$light: #eff4f7;
$success: #66ab57;
$info: #ffffff;
$warning: #e49b1f;
$danger: #f44336;

// import bootstrap styles at the bottom!
@import '~bootstrap/scss/bootstrap.scss';