// overwrite theme variables

// good-looking theme
$primary: #f5eff7;
$secondary: #e1dbf5;
$dark: #6f3ea3;
$light: #eff4f7;
$success: #66ab57;
$info: #ffffff;
$warning: #e49b1f;
$danger: #ec685f;


$theme-colors: (
    "button_color": #84b3dc,
    "primary": $primary,
    "secondary":$secondary,
    "light": $light,
    "danger": $danger,
    "light_green": #71ebbe,
    "light_background": #f7f5f8
);

// import bootstrap styles at the bottom!
@import '~bootstrap/scss/bootstrap.scss';