.main_container{
    margin-top: 20px;
}

.container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.name_and_surname{
    display: flex;
    flex-direction: row;
    gap: 10px;
}