.main {
    max-width: 200px;
}

.count_btns_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    text-align: center;
}

.plus_button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    border: 1px solid #e0dbdb;
    /* Border style and color */
    border-radius: 50%;
    /* Makes the button round */
    width: 30px;
    /* Set the width and height to create a round shape */
    height: 30px;
    font-size: 16px;
    transition: background-color 0.3s;
}


.form_control {
    text-align: center;
    font-size: 16px;
}


.add_to_cart_button {
    /* Button background color */
    color: #000000;
    /* Button text color */
    padding: 5px 7px;
    /* Padding inside the button */
    border: none;
    /* Remove the button border */
    border-radius: 5px;
    /* Add rounded corners */
    cursor: pointer;
    /* Change cursor to a pointer on hover */
    font-size: 16px;
    font-weight: 400;
    /* Font size */
    transition: background-color 0.3s;
    /* Smooth background color transition on hover */
}